@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #fff;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Home Section */

.main{
    width: 100%;
    background-color: rgb(8, 8, 63);
    background-position: center;
    background-size: cover;
    height: 765px;
    position: relative;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 75px;
    font-size: 42px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 4px;
}

ul{
    margin-top: 4px;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
}

ul li a:hover{
    color: rgb(59,174,209);
}

.info{
    margin-left: 7%;
    margin-top: 12%;
}

.info .intro{
    font-size: 24px;
}

.info .intro span{
    color: rgb(59,174,209);
}

.info h1{
    font-size: 65px;
    margin-bottom: 7px;
}

.info h1 span{
    color: rgb(59,174,209);
}

.info p{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 6px;
}

.info a{
    font-size: 20px;
    font-weight: 600;
    text-decoration:  none;
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 20px;
    color: rgb(59,174,209);
    border: 1px solid rgb(59,174,209);
}

.info a:hover{
    color: #fff;
    background: rgb(59,174,209);
}

.icons a{
    text-decoration: none;
}

.icons i{
    margin-left: 7%;
    margin-right: -60px;
    font-size: 40px;
}

.icons i:hover{
    color: rgb(59,174,209);
}

/* About Section */

.about-section {
    background-color: rgb(8, 8, 63);
    margin: 3.5% 16%;
    border-radius: 10px;
    height: 450px;
    box-shadow: 0px 4px 8px 0px rgba(12, 12, 121, 0.5), 0px 6px 20px 0px rgb(12, 12, 121, 0.39);
}

.about-section img{
    height: 450px;
    width: 350px;
    float: left;
    margin: auto 35px;
}

section .about .content{
    padding-top: 15px;
    padding-right: 30px;
    text-align: justify;
}

section .about .content h1{
    font-size: 35px;
    margin: 15px;
    color: rgb(59,174,209);
}

section .about .content p{
    font-size: 20px;
    line-height: 30px;
}

section .about .btn{
    font-size: 20px;
    font-weight: 500;
    text-decoration:  none;
    color: #000;
    background: rgb(187, 187, 226);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
}

section .about .btn:hover{
    color: #fff;
    background: rgb(59,174,209);
}

/* Skills Section */

.skills-section .heading{
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    color: rgb(32, 143, 177);
    text-align: center;
}

.skills-section .my-skills{
    background-color: rgb(8, 8, 63);
    margin: 3.5% 16%;
    border-radius: 10px;
    height: 395px;
    box-shadow: 0px 4px 8px 0px rgba(12, 12, 121, 0.5), 0px 6px 20px 0px rgb(12, 12, 121, 0.39);
}

.skills-section .my-skills div{
    margin-top: 25px;
    margin-left: 28px;
    padding: 15px;
    height: 310px;
    width: 310px;
    float: left;
    text-align: justify;
    border: 2px solid rgb(100, 98, 98);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5), 0px 6px 20px 0px rgb(0, 0, 0, 0.39);
    border-radius: 10px;
}

.skills-section .my-skills div a i{
    font-size: 55px;
    margin: 5px 120px;
}

.skills-section .my-skills div .icon i{
    float: left;
    margin: 5px 55px;
    margin-bottom: 20px;
}

.skills-section .my-skills div .title{
    clear: left;
    font-size: 35px;
    text-align: center;
    margin: 15px;
}

.skills-section .my-skills div .details{
    font-size: 20px;
}

.skills-section .my-skills div .ratio{
    display: inline-block;
    font-size: 30px;
    border: 2px solid grey;
    border-radius: 50px;
    padding: 12px 2px;
    margin: 0 120px;
}

/* Project Section */

.project-section .heading{
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    color: rgb(32, 143, 177);
    text-align: center;
}

.project-section .my-works{
    background-color: rgb(8, 8, 63);
    box-shadow: 0px 4px 8px 0px rgba(12, 12, 121, 0.5), 0px 6px 20px 0px rgb(12, 12, 121, 0.39);
    margin: 3.5% 16%;
    border-radius: 10px;
    height: 350px;
}

.project-section .my-works div{
    margin-top: 25px;
    margin-left: 28px;
    padding: 15px;
    height: 270px;
    width: 310px;
    float: left;
    text-align: justify;
    border: 2px solid rgb(151, 144, 144);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5), 0px 6px 20px 0px rgb(0, 0, 0, 0.39);
    border-radius: 10px;
}

.project-section .my-works div .project-title{
    clear: left;
    font-size: 35px;
    text-align: center;
    margin: 15px;
}

.project-section .my-works div .project-description{
    font-size: 20px;
}

.project-section .my-works div .icon{
    display: inline-block;
    font-size: 35px;
    padding: 12px 2px;
    margin: 0px 130px;
}

/* Contact Section */

footer{
    width: 100%;
    height: 170px;
    background-color: rgb(8, 8, 63);
    text-align: center;
    padding-top: 5px;
}

footer .footer-heading{
    font-size: 35px;
    font-weight: 500;
    margin-top: 10px;
}

footer .footer-intro{
    font-size: 18px;
    margin: 5px auto;
}

footer .footer-icons i{
    font-size: 30px;
    margin: 4px 9px;
}

.arrow{
    border-radius: 65px;
    padding: 0px 12px;
    background-color: rgb(8, 8, 63);
    color: white;
    font-size: 60px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}